@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background: #e4d9cd;
  padding: 2rem;
}

.card {
  width: 35vw;
  margin: 1rem auto;
  box-shadow: -10px 10px 8px -3px rgba(142, 109, 77, 0.24);
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #acb7ae
}

.groupOne {
  display: flex;
  padding: 2rem;
}

.beerImage {
  padding: 15px;
  height: 15rem;
  background-color: #c8c8ba;
  box-shadow: 0px 2px 8px 7px rgba(123, 139, 118, 0.24);
}

.textGroupOne {
  margin-left: 2rem;
  font-family: 'Nunito Sans', sans-serif;
}

.textGroupTwo {
  margin-top: 1rem;
}

.abvAndIbu {
  display: flex;
  padding-top: 1rem;
}

.ibu {
  margin-left: 1rem;
}

.title {
  border-bottom: 2px solid black;
}

.favs {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.favsClick {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

.beerIcon {
  font-size: 2.75rem;
  margin: 1rem;
}

@media only screen and (max-width: 1024px) {

  body {
    padding: 0;
  }

  .card {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .card-body {
    padding: 0;
    margin: 0 auto;
  }

  .groupOne {
    padding: 1rem;
    width: 90vw;
  }



  .beerImage {
    height: 10rem;
  }
}